body {
        padding-top: 56px;
    }
.jumbotron {
        background-color: cadetblue;
        text-shadow: #000 2px 2px;
    }

.btn {
    text-shadow: none;
}

.background-header {
    background-image: url(Images/banner1.jpg);
    background-color: aliceblue;
    height: 400px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.service-style {
    margin-top: 15px;
    background-color: rgb(133, 181, 224);
}

.text-green {
    color: rgb(0, 0, 0);
}

.bg-red {
    background-color: green;
}

h2::before,
h2::after{
    background-color: whitesmoke;
    content: "";
    display: inline-block;
    height: 1px;
    position: relative;
    vertical-align: middle;
    width: 50%;
}

h2::before{
    right: 0.5em;
    margin-left: -50%;
}
h2::after{
    left: 0.5em;
    margin-right: -50%;
}