body {
        padding-top: 56px;
    }
.jumbotron {
        background-color: cadetblue;
        text-shadow: #000 2px 2px;
    }

.btn {
    text-shadow: none;
}

.background-header {
    background-image: url(Images/banner1.jpg);
    background-color: aliceblue;
    height: 400px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.service-style {
    margin-top: 15px;
    background-color: rgb(133, 181, 224);
}

.text-green {
    color: rgb(0, 0, 0);
}

.bg-red {
    background-color: green;
}

h2::before,
h2::after{
    background-color: rgb(255, 255, 255);
    content: "";
    display: inline-block;
    height: 1px;
    position: relative;
    vertical-align: middle;
    width: 50%;
}

h2::before{
    right: 0.5em;
    margin-left: -50%;
}
h2::after{
    left: 0.5em;
    margin-right: -50%;
}

.produk-kami::before,
.produk-kami::after{
    background-color: black;
    content: "";
    display: inline-block;
    height: 1px;
    position: relative;
    vertical-align: middle;
    width: 50%;
}

.produk-kami::before{
    right: 0.5em;
    margin-left: -50%;
}
.produk-kami::after{
    left: 0.5em;
    margin-right: -50%;
}

.button-sekunder {
    background-color:transparent;
    border-color: rgb(217, 206, 206);
    color: rgb(0, 0, 0);
}
.button-sekunder:hover{
    background-color: rgb(101, 191, 239);
    border-color: black;
    color: aliceblue;
}

.tentang-kami::before,
.tentang-kami::after{
    background-color: black;
    content: "";
    display: inline-block;
    height: 1px;
    position: relative;
    vertical-align: middle;
    width: 50%;
}

.tentang-kami::before{
    right: 0.5em;
    margin-left: -50%;
}

.tentang-kami-kami::after{
    left: 0.5em;
    margin-right: -50%;
}

.cover {
    background: no-repeat center/cover;
}