body {
        padding-top: 56px;
    }
.jumbotron {
        background-color: cadetblue;
        text-shadow: #000 2px 2px;
    }

.btn {
    text-shadow: none;
}

.background-header {
    background-image: url(Images/banner1.jpg);
    background-color: aliceblue;
    height: 400px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}